img{
    width: 200px;
    height: auto;
}


body {
    display: grid;
    place-items: center;
    min-height: 30rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
    border: 2px solid;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 20px 20px ;
}



body button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

body a{
    color: blue;
}